* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.orange-button {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.07rem;
    color: #292929;
    width: fit-content;
    background-color: #F1CDB3;
    border-radius: 100px;

}

.orange-button:hover {
    background-color: #FDDCC4;
}

.orange-button a {
    display: block;
    padding: 15px 45px;

}

.empty-button {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.06rem;
    color: #292929;
    width: fit-content;
    background-color: inherit;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.empty-button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.empty-button a {
    display: block;
    padding: 15px 45px;

}


.section-title {
font-size: 35px;
font-weight: 400;
line-height: 1.25em;
letter-spacing: 0.06em;
color: #545454;
}

body {
    font-family: Georgia, sans-serif;
    font-size: 15px;
}

.start-screen, footer {
    background-image: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}


/*---------------------------------------------------*/

header {
    padding: 60px 0;
}

.header__wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo__title {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06rem;

    color: #F1CDB3;

    text-transform: capitalize;

    margin-bottom: 10px;
}

.logo__subtitle {
    font-family: Arial;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #FFFF;
}


.menu__list {
    display: flex;
    list-style: none;
}

.menu__item {
font-family: Arial;
font-weight: 400;
line-height: 1.6rem;
color: #CDCDCD;
margin-bottom: 5px;

}

.menu__item:not(:last-child) {
margin-right: 35px;
}

.active-item a,
.menu__item:hover a {
color: #FAFAFA;

position: relative;
}


.active-item a::after,
.menu__item:hover a::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background-color: #F1CDB3;

}


/*----------------------------------------------------------*/


.not-only__wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.not-only__info {
    width: 38.3%;

    margin-top: -85px;
}

.not-only__title {
    font-size: 2.93em;
    font-weight: 400;
    line-height: 3.6rem;
    color: #FFFFFF;

    margin-bottom: 40px;
}

.not-only__info p {
    font-family: Arial;
    font-weight: 400;
    line-height: 1.5rem;
    color: #CDCDCD;

    margin-bottom: 40px;
}


/*--------------------------------------------------------*/

.about {
    padding: 75px 0 100px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 120px;
}

.about__image {
    width: 25%;
}

.about__info {
    width: 35.8%;

}

.about .section-title {
    padding-bottom: 25px;
}

.about__info p {
font-family: Arial;
font-weight: 400;
line-height: 1.6em;
}

.about__info p:not(:last-child){
    padding-bottom: 24px;
}


/*-------------------------------------------------------------*/

.our-friends {
    background-color: #F6F6F6;
    padding: 80px 0 100px;
}

.our-friends__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.our-friends .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.our-friends__slider {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
}

.our-friends__cards {
    display: flex;
    align-items: center;
    gap: 90px;

}

.button-arrow {

    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;

}

.button-arrow:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
    cursor: pointer;
}

.arrow-prev {
    background-image: url(../../assets/icons/Arrow.svg);
    margin-right: 53px;
}

.arrow-next {
    background-image: url(../../assets/icons/Arrow\ \(1\).svg);
    margin-left: 53px;
}

.pet-card {
    background-color: #FAFAFA;
    padding-bottom: 30px;

    border-radius: 9px;
    overflow: hidden;

    text-align: center;
}

.pet-card:hover {
    cursor: pointer;
}

.pet-card:hover {
background-color: #FFFFFF;
}

.pet-card:hover .pet-card__button {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}


.pet-card__image {
    margin-bottom: 30px;

} 

.pet-card__name{
    margin-bottom: 30px;

    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0.06em;
    color: #545454;

}

.pet-card__button {
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------------------------------------------*/

.help {
    background-color: #FFFFFF;
    padding: 80px 0 100px;
}

.help .section-title {
    margin-bottom: 60px;
    text-align: center;
}

.help__aids {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;


}

.aids__item {
    text-align: center;
}

.aids__ico {
    margin: 0 auto 30px auto;

    width: 60px;
    height: 60px;

    background-position: center;
    background-repeat: no-repeat;
}

.ico-food {
    background-image:url(../../assets/icons/icon-pet-food.svg);
}

.ico-transp {
    background-image:url(../../assets/icons/icon-transportation.svg);
}

.ico-toys {
    background-image:url(../../assets/icons/icon-toys.svg);
}

.ico-bowls {
    background-image:url(../../assets/icons/icon-bowls-and-cups.svg);
}

.ico-shampoo {
    background-image:url(../../assets/icons/icon-shampoos.svg);
}

.ico-vitamin {
    background-image:url(../../assets/icons/icon-vitamins.svg);
}

.ico-medicines {
    background-image:url(../../assets/icons/icon-medicines.svg);
}

.ico-collar {
    background-image:url(../../assets/icons/icon-collars-leashes.svg);
}

.ico-sleep {
    background-image:url(../../assets/icons/icon-sleeping-area.svg);
}

.aids__name {
font-size: 1.3em;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.07em;
}


/*--------------------------------------------*/


.addition {
    background-color: #F6F6F6;

    padding: 83px 0 100px;
}

.addition__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.addition__image {
    width: 42%;
}

.addition__info {
    width: 31.6%;
}

.addition__info .section-title {
margin-bottom: 20px;
}

.addition__info .bank {
font-weight: 400;
line-height: 1.1em;
letter-spacing: 0.06em;
color: #545454;

margin-bottom: 20px;
}


.addition__info .account {
    background-color: #F1CDB3;
    border-radius: 9px;
    width: 92%;


    margin-bottom: 20px;
    
}

.addition__info .account a {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.09rem;
    color: #545454;
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.addition__info .account .ico-card {
    display: block;
    width: 30px;
    height: 23px;
    margin-right: 15px;


    background-image: url(../../assets/icons/credit-card.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.addition__info .text {
    font-family: Arial;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.14rem;
    color: #B2B2B2;

}

/*---------------------------------------------------*/

footer {
    padding:40px 0 0;
}

.footer__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 160px;
}

.footer__contacts {
    width: 23.1%;
    margin-top: 16px;
}

.footer__contacts .white-title {
    margin-bottom: 40px;
}

.footer__address {
    width: 25.1%;
    margin-top: 16px;
}

.footer__address .white-title {
    margin-bottom: 33px;
}

.footer__text {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.09rem;
    color: #F1CDB3;
}

.white-title {
    color:#FFFFFF;
    line-height: 2.8rem;
    letter-spacing: 0.057em;
    text-align: left;

}

.footer__contacts .email a,
.footer__contacts .phone a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__contacts .email {
    margin-bottom: 40px;
}

.footer__address .address__item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
   
}

.footer__address .address__item:not(:last-child) {
    margin-bottom: 32px;  
}

.footer-ico {
    display: block;

    background-repeat: no-repeat;
    background-position: center;
}

.footer__contacts .footer-ico {
    width: 40px;
    height: 32px;
}

.footer__address .footer-ico {
    width: 22px;
    height: 32px;
}

.email__ico {
    background-image: url(../../assets/icons/icon-email.svg);
}

.phone__ico {
    background-image: url(../../assets/icons/icon-phone.svg);
}

.map__ico {
    background-image: url(../../assets/icons/icon-marker.svg);
}

.footer__image {
    width: 25%;
}