@font-face {
    font-family: Arial; 
    src: url(../../assets/fonts/arial-regular.ttf); 
   }

@font-face {
    font-family: Georgia; 
    src: url(../../assets/fonts/georgia-regular.ttf); 
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.orange-button {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.06rem;
    color: #292929;
    width: fit-content;
    background-color: #F1CDB3;
    border-radius: 100px;

}

.orange-button:hover {
    background-color: #FDDCC4;
}

.orange-button a {
    display: block;
    padding: 15px 45px;

}

.empty-button {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0.06rem;
    color: #292929;
    width: fit-content;
    background-color: inherit;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.empty-button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.empty-button a {
    display: block;
    padding: 15px 45px;

}


.section-title {
font-size: 35px;
font-weight: 400;
line-height: 1.25em;
letter-spacing: 0.06em;
color: #545454;
}

body {
    font-family: Georgia, sans-serif;
    font-size: 15px;
}

.start-screen, footer {
    background-image: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

@media  screen and (max-width:1279px) {
    .wrapper {
        max-width: calc(100% - 60px);
        margin: 0 auto;
    }
}

@media  screen and (max-width:767px) {
    
    .not-scroll {
        overflow-y: hidden;
    }
    
    .wrapper {
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }

    .section-title {
        font-size: 25px;
    }

    .overlay {
        opacity: 0;
        visibility: hidden;
        position:fixed;
        top: 0;
        left: 0;
        width:100%;
        height:100%;

        transition: 0.5s;

    }

    .dark-overlay {
        opacity: 1;
        visibility: visible;

        background: rgba(41, 41, 41, 0.6);
        transition: 0.5s;
    }


}



/*---------------------------------------------------*/

header {
    padding: 60px 0;
}

.header__wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo__title {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06rem;

    color: #F1CDB3;

    text-transform: capitalize;

    margin-bottom: 8px;
}

.header__burger {
    display: none;
}

.logo__subtitle {
    font-family: Arial;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.085rem;
    color: #FFFF;
    margin-left: 4px;
}


.menu__list {
    display: flex;
    list-style: none;
    margin-right: 3px;
}

.menu__item {
font-family: Arial;
font-weight: 400;
line-height: 1.6rem;
color: #CDCDCD;
margin-bottom: 5px;

}

.menu__item:not(:last-child) {
margin-right: 35px;
}

.active-item a,
.menu__item:hover a {
color: #FAFAFA;

position: relative;
cursor: pointer;
}


.active-item a::after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background-color: #F1CDB3;

}

@media  screen and (max-width:1279px) {
    header {
        padding: 30px 0 0;
    }
}

@media  screen and (max-width:767px) {
   
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        margin-right: 43px;
        transition: 0.5s;
        z-index: 5;
    }

    .header__burger span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        top: 10px;
        background-color: #F1CDB3;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #F1CDB3;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .active {
        transform: rotate(90deg);
        transition: transform 0.5s;

        z-index: 5;
    }

    .header__menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        background-color: #292929;
        transform: translateX(320px);
	    transition: transform 0.5s; 
        overflow-y: auto;
    }

    .open {
        transform: translateX(0);
        transition: transform 0.5s;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: calc(50vh - 282px/2);
        left: calc(50% - 276px/2);
    }

    .menu__item {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .menu__item a {
        font-size: 2rem;
    }

    .header__logo {
        transition: 0.5s;
        z-index: 5;
    }

    .logo-menu {
        transform: translateX(calc(100vw - 320px));
        transition: 0.5s;
       
    }
}


/*----------------------------------------------------------*/


.not-only__wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.not-only__info {
    width: 38.3%;

    margin-top: -83px;
}

.not-only__title {
    font-size: 2.93em;
    font-weight: 400;
    line-height: 3.6rem;
    color: #FFFFFF;

    margin-bottom: 40px;
}

.not-only__info p {
    font-family: Arial;
    font-weight: 400;
    line-height: 1.5rem;
    color: #CDCDCD;

    margin-bottom: 40px;
}

@media  screen and (max-width:1279px) {
    
    .not-only {
       padding: 60px 0 0;
    }

    .not-only__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .not-only__info {
        margin-top: 0;
        width: 65%;

        margin-bottom: 100px;
    }

    .not-only__button {
        margin: 0 auto;
    }

    .not-only__image {
        width: 80%;

        align-self: flex-end;
    }


    .not-only__image img{
       width: 100%;
    }


}

@media  screen and (max-width:767px) {
    

    .not-only__info {
        width: 100%;
        text-align: center;
        margin-bottom: 105px;

    }

    .not-only__title {
        font-size: 1.6em;
        line-height: 2rem;
        letter-spacing: 0.07em;
        margin-bottom: 42px;
    }

    .not-only__image {
        width: 86%;
    }

}

/*--------------------------------------------------------*/

.about {
    padding: 75px 0 100px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 120px;
}

.about__image {
    width: 25%;
}

.about__info {
    width: 35.8%;

}

.about .section-title {
    padding-bottom: 25px;
}

.about__info p {
font-family: Arial;
font-weight: 400;
line-height: 1.6em;
}

.about__info p:not(:last-child){
    padding-bottom: 24px;
}

@media  screen and (max-width:1279px) {
    
    .about {
        padding: 85px 0 100px;
    }

    .about__wrapper {
        flex-direction: column-reverse;
        gap: 80px;
        justify-content: center;
        align-items: center;
    }

    .about__info {
        width: 61%;
    }

    .about__image {
        width: 43%;
    }

    .about__image img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

}

@media  screen and (max-width:767px) {
    .about {
        padding: 42px 0;
    }

    .about__wrapper {
        gap: 42px;
    }

    .about__info {
        width: 100%;
        text-align: center;
    }

    .about__info p {
        width: 90%;
        text-align:justify;

        margin: 0 auto;
    }

    .about__image {
        width: 86%;
    }
}

/*-------------------------------------------------------------*/

.our-friends {
    background-color: #F6F6F6;
    padding: 80px 0 100px;
}

.our-friends__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.our-friends .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.our-friends__slider {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
}

.cards__wrapper {
    width: 990px;
    overflow: hidden;

}

.our-friends__cards {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2970px;

    position: relative;
    left: -990px;
}

.item {
    display: flex;
    width: 990px;
    gap: 90px;
}

@keyframes move-right {
    from {left: -990px}
    to {left: -1980px;}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

@keyframes move-left {
    from {left: -990px}
    to {left: 0px;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}

.button-arrow {

    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;

}

.button-arrow:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
    cursor: pointer;
}

.arrow-prev {
    background-image: url(../../assets/icons/Arrow.svg);
    margin-right: 53px;
}

.arrow-next {
    background-image: url(../../assets/icons/Arrow\ \(1\).svg);
    margin-left: 53px;
}

.pet-card {
    background-color: #FAFAFA;
    padding-bottom: 30px;

    border-radius: 9px;
    overflow: hidden;
    width: 270px;

    text-align: center;
}

.pet-card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card:hover {
background-color: #FFFFFF;
}

.pet-card:hover .pet-card__button {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}


.pet-card__image {
    margin-bottom: 33px;

} 

.pet-card__name{
    margin-bottom: 30px;

    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0.06em;
    color: #545454;

}

.pet-card__button {
    margin-left: auto;
    margin-right: auto;
}

@media  screen and (max-width:1279px) {
    
    .our-friends {
        padding: 75px 0 100px;
    }

    .our-friends__cards {
        gap: 0;
    }
    
    .pet-card:last-child {
        display: none;
    }

    .cards__wrapper {
        width: 580px;
        overflow: hidden;
    }

    .item {
        display: flex;
        width: 990px;
        gap: 40px;
    }

    .arrow-prev {
        margin-right: 0;
        z-index: 10;
    }

    .arrow-next {
        margin-left: 0;
        z-index: 10;
    }
}

@media  screen and (max-width:767px) {
   
    .our-friends {
        padding: 42px 0;
    }

    .pet-card:nth-child(2) {
        display: none;
    }

    .our-friends__cards {
        width: 810px;
        left: -270px;
    }

    .cards__wrapper {
        width: 100%;
    }

    .cards__wrapper__wrapper {
        width: 270px;
        overflow: hidden;
        margin: 0 auto;
    
    }


    .item {
        justify-content: center;
        width: 270px;
    }

    .our-friends .section-title {
        margin-bottom: 42px;
    }
    
    .arrow-prev {
        order: 1;
    }

    .arrow-next {
        order: 2;
    }

    .our-friends__slider {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        column-gap: 80px;

        margin-bottom: 42px;
    }

    @keyframes move-right {
        from {left: -270px}
        to {left: -540px;}
    }
    
    
    @keyframes move-left {
        from {left: -270px}
        to {left: -0px;}
    }

}

/*----------------------------------------------------------------*/

.help {
    background-color: #FFFFFF;
    padding: 80px 0 100px;
}

.help .section-title {
    margin-bottom: 60px;
    text-align: center;
}

.help__aids {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
}

.aids__item {
    text-align: center;
}

.aids__ico {
    margin: 0 auto 30px auto;

    width: 60px;
    height: 60px;

    background-position: center;
    background-repeat: no-repeat;
}

.ico-food {
    background-image:url(../../assets/icons/icon-pet-food.svg);
}

.ico-transp {
    background-image:url(../../assets/icons/icon-transportation.svg);
}

.ico-toys {
    background-image:url(../../assets/icons/icon-toys.svg);
}

.ico-bowls {
    background-image:url(../../assets/icons/icon-bowls-and-cups.svg);
}

.ico-shampoo {
    background-image:url(../../assets/icons/icon-shampoos.svg);
}

.ico-vitamin {
    background-image:url(../../assets/icons/icon-vitamins.svg);
}

.ico-medicines {
    background-image:url(../../assets/icons/icon-medicines.svg);
}

.ico-collar {
    background-image:url(../../assets/icons/icon-collars-leashes.svg);
}

.ico-sleep {
    background-image:url(../../assets/icons/icon-sleeping-area.svg);
}

.aids__name {
font-size: 1.3em;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.07em;
}

@media  screen and (max-width:1279px) {
    
    .help__aids {
        column-gap: 8.5%;
    }

    .aids__item {
        width: 24%;
    }
}

@media  screen and (max-width:767px) {
    .help {
        padding: 42px 0;
    }

    .help .section-title {
        margin-bottom: 42px;
    }

    .help__aids {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        justify-items: center;
        margin-left: 3px;
        margin-right: 3px;
    }

    .aids__ico {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;

        background-size: contain;
    }

    .aids__item {
        text-align: center;
        width: 100%;
    }

    .aids__name {
        font-size: 1em;
        line-height: 1.1em;
        letter-spacing: 0.07em;
    }

}

/*--------------------------------------------*/


.addition {
    background-color: #F6F6F6;

    padding: 83px 0 100px;
}

.addition__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.addition__image {
    width: 42%;
}

.addition__info {
    width: 31.6%;
}

.addition__info .section-title {
margin-bottom: 20px;
}

.addition__info .bank {
font-weight: 400;
line-height: 1.1em;
letter-spacing: 0.06em;
color: #545454;

margin-bottom: 20px;
}


.addition__info .account {
    background-color: #F1CDB3;
    border-radius: 9px;
    width: 349px;


    margin-bottom: 20px;
    
}

.addition__info .account a {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.09rem;
    color: #545454;
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.addition__info .account .ico-card {
    display: block;
    width: 30px;
    height: 23px;


    background-image: url(../../assets/icons/credit-card.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.addition__info .account__number {
    display: block;
}

.addition__info .text {
    font-family: Arial;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.14rem;
    color: #B2B2B2;

}

@media  screen and (max-width:1279px) {
    .addition{
        padding: 80px 0 100px;
    }

    .addition__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px;
    }

    .addition__info {
        width: 53.6%;
    }

    .addition__image {
        width: 71%;
    }

    .addition__image img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

@media  screen and (max-width:767px) {
    
    .addition {
        padding: 44px 0;
    }

    .addition .section-title {
        margin-bottom: 20px;
    }

    .addition__wrapper {
        gap: 43px;
    }

    .addition__info {
        width: 100%;
        text-align: center;
    }

    .addition__info .bank {
        letter-spacing: 0;
        line-height: 1.5rem;
    }

    .addition__info .account {
        width: 281px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .addition__info .account a {
        font-size: 1em;
        line-height: 1.1em;
        letter-spacing: 00.07em;
    }

    .addition__info .text {
        width: 95%;
        text-align: justify;
        margin: 0 auto;
    }

    .addition__image {
        width: 86%;
    }


}

/*---------------------------------------------------*/

footer {
    padding:40px 0 0;
}

.footer__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 160px;
}

.footer__contacts {
    width: 278px;
    margin-top: 16px;
}

.footer__contacts .white-title {
    margin-bottom: 40px;
}

.footer__address {
    width: 302px;
    margin-top: 16px;
}

.footer__address .white-title {
    margin-bottom: 33px;
    margin-left: 2px;
}

.footer__text {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.09rem;
    color: #F1CDB3;
}

.white-title {
    color:#FFFFFF;
    line-height: 2.8rem;
    letter-spacing: 0.057em;
    text-align: left;

}

.footer__contacts .email a,
.footer__contacts .phone a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__contacts .email {
    margin-bottom: 40px;
}

.footer__address .address__item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
   
}

.footer__address .address__item:not(:last-child) {
    margin-bottom: 32px;  
}

.footer-ico {
    display: block;

    background-repeat: no-repeat;
    background-position: center;
}

.footer__contacts .footer-ico {
    width: 40px;
    height: 32px;
}

.footer__address .footer-ico {
    width: 22px;
    height: 32px;
}

.email__ico {
    background-image: url(../../assets/icons/icon-email.svg);
}

.phone__ico {
    background-image: url(../../assets/icons/icon-phone.svg);
}

.map__ico {
    background-image: url(../../assets/icons/icon-marker.svg);
}

.footer__image {
    width: 25%;
    
}


@media  screen and (max-width:1279px) {
  
    footer {
        padding:30px 0 0;
    }

    .footer__wrapper {
        flex-wrap: wrap;
        column-gap: 7vw;
        row-gap: 65px;
        align-items: center;
        justify-content: center;
    }

    .footer__contacts {
        width: 278px;
        margin-top: 0;
    
    }

    .footer__address {
        width: 302px;
        margin-top: 0;
    
    }

    .footer__address .white-title {
        margin-left: 2px;
    }

    .footer__image {
        width: 42%;

    }

    .footer__image img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media  screen and (max-width:767px) {
    
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 0;

    }
    
    .white-title {
        text-align: center;
        line-height: 1.3em;
        letter-spacing: 0.06em;
    }

    .footer__contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer__contacts .email,
    .footer__contacts .phone {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .footer__address {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 37px;

        margin-bottom: 40px;
    }

    .footer__address .white-title {
        width: 90%;
        margin:0 auto;
    }

    .footer__address .address__item:not(:last-child) {
        margin-bottom: 0;  
    }

    .footer__image {
        width: 86%;

    }
}


/*---------------------popup------------------------*/

.active-popup {
    opacity: 1;
    visibility: visible;
}

.popup__wrapper {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    top: 0;
    left: 0;
    z-index: 15;
}

.popup {
    color: #000000;
    position: relative;
    width: 900px;
    height: 500px;
    background-color: #FAFAFA;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    top: calc(50% - 500px/2);
    left: calc(50% - 900px/2);
    border-radius: 9px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popup__close {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;

    background-image: url(../../assets/icons/icon-close.svg);
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top:-52px;
    right: -40px;
}

.popup__info {
    margin-right: 20px;
}

.popup__image,
.popup__image img {
    width: 500px;
    height: 500px;
    border-radius: 9px 0px 0px 9px;
}

.popup__info-name {
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;

    margin-bottom: 10px;
}

.popup__info-breed {
    
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 40px;
}

.popup__info-description {
  
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;

    margin-bottom: 40px;

}

.popup__info-list {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;


}

.popup__info-list li {
    color: #F1CDB3;
}

.popup__info-list li:not(:last-child) {
    margin-bottom: 10px;
}

.popup__info-list li span {
    color: #000000;
}


@media  screen and (max-width:1279px) {
    .popup {
        width: 630px;
        height: 350px;
        top: calc(50% - 350px/2);
        left: calc(50% - 630px/2);
    }

    .popup__info {
        margin-right: 10px;
    }

    .popup__image,
    .popup__image img {
        width: 350px;
        height: 350px;
}

    .popup__info-name {
        margin-bottom: 10px;
    }

    .popup__info-breed {
        margin-bottom: 20px;
    }

    .popup__info-description {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0.06em;


    }

    .popup__info-list li:not(:last-child) {
        margin-bottom: 5px;
    }
}

@media  screen and (max-width:767px) {
    
    .popup {
        width: 240px;
        height: 341px;
        top: calc(50% - 341px/2);
        left: calc(50% - 240px/2);
    }

    .popup__info {
        margin: 10px;
        width: 220px;
        height: 321px;
        overflow-y: auto;
    }

    .popup__image {
       display: none;
}

    .popup__info-description {
        margin-bottom: 24px;
    }
}

